.CommentCard {
  border: 2px solid #2ea9ef;
  background-color: #f0ece3;
}

.Username { 
  font-size: 18px;
  margin-bottom: 0;
  color: rgb(11, 97, 150);
}

.Feedback {
  font-size: 14px;
  color: #bf0d0d;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 8px;
}