.MainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}

.CategoryContainer {
  display: flex;
  position: relative;
}

.EditFormsInnerBox {
  display: flex;
}

.LabelCategory {
  font-size: 18px;
  margin-right: 1.6rem;
}

.LabelDue {
  font-size: 18px;
  margin-right: 3.8rem;
}

.CategoryName {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.CategoryButtons {
  display: flex;
  column-gap: 8px;
  margin-left: auto;
}

.PriorityForm {
  width: 8rem;
}

.DateTimePriorityContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.EditFormSelect {
  width: 16rem;
  font-size: 18px;
  margin: 0 16px 16px 0;
  padding: 0 24px 0 16px ;
}

.DueDateTime {
  font-size: 18px;
}

.Priority {
  font-size: 18px;
}

.Progress {
  font-size: 18px;
  text-transform: capitalize;
}

.bold {
  font-weight: 600;
}

.High {
  color: #991212;
  font-weight: 600;
  font-size: 18px;
}

.Overdue {
  padding: 0 5px;
  background-color: #eeef9e;
  border-radius: 6px;
}

.EditButtonsTwo {
  align-self: center;
}

@media screen and (max-width: 590px) {
  .CategoryContainer {
    margin-bottom: .8rem;
  }

  .LabelCategory {
    font-size: 15px;
    margin-right: 1rem;
  }

  .CategoryName {
    font-size: 15px;
  }

  .EditFormSelect {
    width: 9rem;
    font-size: 15px;
    margin: 0;
    padding: 0 24px 0 12px ;
  }

  .LabelDue {
    font-size: 15px;
    margin-right: 2.9rem;
  }

  .DueDateTime {
    font-size: 15px;
  }

  .Priority {
    font-size: 15px;
  }

  .Progress {
    font-size: 15px;
  }

  .PriorityForm {
    width: 6rem;
  }

  .High {
    font-size: 15px;
  }
}

@media screen and (max-width: 465px) {
  .LabelDue {
    margin-right: 1.6rem;
  }

  .DueDateForm {
    width: 100px;
  }

  .EditFormsInnerBox {
    column-gap: 10px;
  }

  .EditButtonsTwo {
    position: absolute;
    right: 0;
    top: 142px;
  }
}

@media screen and (max-width: 390px) {
  .CategoryContainer {
    margin-bottom: 5px;
  }

  .EditFormSelect {
    width: 100%;
    font-size: 16px;
    padding: 0 24px 0 12px ;
    margin-bottom: 24px;
  }

  .PriorityForm {
    width: 6rem;
  }

  .High {
    font-size: 14px;
  }

  .CategoryButtons {
    position: absolute;
    right: 0;
    bottom: -5px;
  }

  .EditButtonsTwo {
    flex-direction: row;
    margin-left: auto;
  }
}