.MainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #c7e3e38e;
  border-radius: 10px;
}

.CategoryContainer {
  display: flex;
  position: relative;
}

.LabelCategory {
  font-size: 18px;
  width: 6.5rem;
}

.PriorityProgressGroup {
  display: flex;
  column-gap: 24px;
  padding-left: 6.5rem;
  margin-bottom: 0;
}

.EditFormsInnerBox {
  margin-top: 8px;
  display: flex;
  column-gap: 8px;
}

.LabelDue {
  display: inline-block;
  font-size: 18px;
  width: 6.5rem;
}

.CategoryName {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.PriorityForm {
  width: 8rem;
}

.DateTimePriorityContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  position: relative;
}

.EditFormSelect {
  width: 24rem;
  font-size: 18px;
  padding: 0 24px 0 16px ;
}

.DueDateTime {
  font-size: 18px;
}

.Priority {
  font-size: 18px;
  font-weight: 600;
}

.Progress {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.bold {
  font-weight: 600;
}

.High {
  color: #991212;
  font-weight: 600;
  font-size: 18px;
}

.Overdue {
  padding: 0 5px;
  background-color: #eeef9e;
  border-radius: 6px;
}

.Completed {
  color: #c3740b;
}

.AttributesEditButton {
  font-weight: 600;
  position: absolute;
  bottom: -5px;
  right: 0;
}

.SaveButton {
  font-size: 18px;
  font-weight: 600;
  color: #0c2c94;
}

.EditButtonsTwo {
  position: absolute;
  align-self: center;
  bottom: -10px;
  right: 0;
}

@media screen and (max-width: 590px) {
  .MainContainer {
    margin-bottom: 30px;
  }
  
  .CategoryContainer {
    margin: 12px 0 0;
  }

  .LabelCategory {
    font-size: 15px;
    width: 4.5rem;
  }

  .CategoryName {
    font-size: 15px;
  }

  .LabelDue {
    font-size: 15px;
    width: 4.5rem;
  }

  .PriorityProgressGroup {
    padding-left: 4.5rem;
  }

  .EditFormsInnerBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }  

  .DueDateTime {
    font-size: 15px;
  }

  .Priority {
    font-size: 15px;
  }

  .Progress {
    font-size: 15px;
  }

  .EditFormSelect {
    width: 20rem;
    font-size: 15px;
    margin: 0;
    padding: 0 24px 0 12px ;
  }

  .PriorityForm {
    width: 6rem;
  }

  .High {
    font-size: 15px;
  }

  .SaveButton {
    font-size: 16px;
  }
  
  .EditButtonsTwo {
    bottom: -40px;
    right: 0;
  }
}

@media screen and (max-width: 465px) {
  .LabelCategory {
    font-size: 14px;
  }

  .LabelDue {
    font-size: 14px;
  }

  .DueDateForm {
    width: 100px;
  }

  .EditFormSelect {
    width: 16rem;
  }
}

@media screen and (max-width: 390px) {
  .CategoryContainer {
    margin-bottom: 5px;
  }

  .PriorityProgressGroup {
    column-gap: 12px;
  }

  .EditFormSelect {
    width: 100%;
    padding: 0 24px 0 12px ;
    margin-bottom: 0;
  }

  .PriorityForm {
    width: 6rem;
  }

  .High {
    font-size: 14px;
  }

  .CategoryButtons {
    position: absolute;
    right: 0;
    bottom: -5px;
  }

  .EditButtonsTwo {
    flex-direction: row;
    margin-left: auto;
  }
}