.Footer {
    color: white;
    padding: 0 5rem;
    background-color: #2B4162;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    height: 5rem;
    width: 100%;
    font-size: 1.2rem;
    font-size: 1.2rem;
}
      
ul {
    width: 22rem;
    gap: 1.2rem;
}

li {
    list-style-type: none;
}

.icons {
    color: white;
    font-size: 2rem;
}

@media screen and (max-width: 992px) {
    .Footer {
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
}

@media screen and (max-width: 1400px) {
    ul {
        width: 12rem;
    }
}