.NavBar {
    background-color: #721817;
    padding-left: 5rem;
    padding-right: 5rem;
}

.NavBarOffCanvas {
    background-color: #E0E0E2;
}

.Nav {
    gap: 1.5rem;
}

.Logo {
    width: 200px;
}

.Avatar {
    width: 2rem;
}

.ClrWhite {
    color: white;
}

@media screen and (max-width: 992px) {
    .OffCanvasBody {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .Nav {
        gap: 1rem;
    }

    .DatePickerContainer {
        width: 260px;
    }
    
    .CategoryFormContainer {
        width: 260px;
    }
    
    .AddTask {
        width: 260px;
    }
    
    .AddCategory {
        width: 260px;
    }

}

@media screen and (max-width: 768px) {
    .NavBar {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .NavBar {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 356px) {
    .NavBar {
        padding-left: .3rem;
        padding-right: .3rem;
    }

    .OffCanvasBody {
        padding-left: 1rem;
        padding-right: .8rem;
    }
}