.ProfilePage {
  padding: 5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form {
  width: 34rem;
  padding: 2rem 0;
}

.PageTitle {
  text-align: center;
  font-weight: 700;
}

.bold {
  font-weight: 600;
}

.DeleteAccount {
  color: #cb5757;
  margin-top: 6rem;
}

.TextCenter {
  text-align: center;
}