.ProfilePage {
  padding: 5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  width: 8rem;
  border: 1px solid firebrick;
}

.Form {
  width: 34rem;
  padding: 2rem 0;
}

.PageTitle {
  text-align: center;
  font-weight: 700;
}

.bold {
  font-weight: 600;
}

.DeleteAccount {
  right: 0;
  /* color: #cb5757; */
}

.TextCenter {
  text-align: center;
}

.smallInfo {
  bottom: 1.8rem;
  left: 15rem;
}

.uploadIcon {
  position: absolute;
  bottom: 16px;
  left: 100px;
}

.uploadIcon:hover {
  cursor: pointer;
}