.SearchResultsPage {
  position: relative;
  padding: 3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.InnerContainer {
  width: 36rem;
}

.HeadingSearchResults { 
  font-weight: 600;
}

.ResultsContainer {
  max-height: 50rem;
  overflow: auto;
  padding-bottom: 20px ;
  margin-bottom: 1.5rem;
}

.TaskTitle {
  color: black;
}

.TaskDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.NoResults {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 630px) {
  .InnerContainer {
    width: 30rem;
  }
}

@media screen and (max-width: 530px) {
  .InnerContainer {
    width: 26rem;
  }
}

@media screen and (max-width: 470px) {
  .SearchResultsPage {
    padding: 2.5rem 0 0;
  }

  .InnerContainer {
    width: 22rem;
  }
}

@media screen and (max-width: 400px) {
  .InnerContainer {
    width: 17.5rem;
  }

  .TaskTitle {
    font-size: 16px;
  }

  .TaskDescription {
    font-size: 15px;
  }
}