.SideBar {
  background-color: #E0E0E2;
  width: 35rem;
  padding: 5rem 3.5rem 0 2.5rem;
}

@media screen and (max-width: 1455px) {
  .SideBar {
    width: 25rem;
  }
}

@media screen and (max-width: 990px) {
  .SideBar {
    display: none;
  }
}