.SideBar {
  background-color: #E0E0E2;
  width: 35rem;
  padding: 4rem 3.5rem 0 5rem;
  font-size: 1.2rem;
  position: relative;
}

.UserGreeting {
  font-size: 1.5rem;
}

.Username {
  font-weight: 600;
}

.DatePickerContainer {
  width: 300px;
}

.CategoryFormContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.AddTask {
  width: 300px;
}

.AddCategory {
  width: 300px;
  margin: 20px 0 55px 0;
}

@media screen and (max-width: 1455px) {
  .SideBar {
    width: 22rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .DatePickerContainer {
    width: 260px;
  }

  .CategoryFormContainer {
    width: 260px;
  }

  .AddTask {
    width: 260px;
  }

  .AddCategory {
    width: 260px;
  }
}

@media screen and (max-width: 991px) {
  .SideBar {
    display: none;
  }
}