.TaskDetailsPage {
  position: relative;
  padding: 4rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container {
  position: relative;
  width: 34rem;
}

.HeadingTaskName {
  font-size: 1.1rem;
  font-weight: 600;
  margin: .4rem 0 0;
}

.TaskName {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
  border-bottom: 2px solid rgb(10, 131, 237);
}

.DeleteSharedButtons {
  position: absolute;
  top: 0;
  right: 0;
}

.EditTaskNameButton {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 0;
}

.EditTaskNameButtonsGroup {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  bottom: -5px;
  right: 0;
  padding-right: 0;
}

.TaskDetailsContainer {
  position: relative;
  margin-top: 25px;
}

.HeadingDetails {
  font-size: 1.1rem;
  font-weight: 600;
  margin: .4rem 0 0;
}

.TaskDetails {
  font-size: 1.1rem;
  padding-top: 0;
  margin: 0;
  border-bottom: 2px solid rgb(10, 131, 237);
}

.EditDetailsButton {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 0;
}

.EditTaskDetailsButtonsGroup {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  bottom: -6px;
  right: 0;
  padding-right: 0;
}

.DateTimePicker {
  width: 14rem;
}

.LabelComments {
  font-size: 1.3rem;
  font-weight: 700;
}

.CommentContainer {
  max-height: 50rem;
  overflow: auto;
  border-bottom: 4px solid #405e9f;
  padding-bottom: 20px ;
  margin-bottom: 1.5rem;
}

.NoCommentYet {
  font-size: 18px;
  text-align: center;
}

.OwnerAvatar {
  position: absolute;
  top: 1rem;
  right: -170px;
  font-size: 14px;
  width: 125px;
}

.AvatarsContainer {
  position: absolute;
  top: 9rem;
  right: -170px;
  gap: 1rem;
  width: 125px;
  height: 18rem;
  font-size: .95rem;
}

.SharedToAvatar {
  font-size: 14px;
  border: 1px solid transparent;
  position: relative;
}

.AccordionSharedToAvatar {
  width: 90px;
}

.SharedToAvatar:hover {
  box-shadow: 0 0 2px rgb(41, 118, 211);
}

.bold {
  font-weight: 600;
}

.SmallScreenAvatars {
  display: none;
}

@media screen and (max-width: 1500px) {
  .OwnerAvatar {
    top: 1rem;
    right: -130px;
  }

  .AvatarsContainer {
    right: -130px;
  }
}

@media screen and (max-width: 1230px) {
  .Container {
    position: relative;
    width: 28rem;
  }
}

@media screen and (max-width: 1120px) {
  .SmallScreenAvatars {
    display: block;
    margin-bottom: 18px;
  }

  .AvatarsOuterContainer {
    display: none;
  }

  .SharedToAvatar {
    font-size: 12px;
  }
  
  .AccordionSharedToAvatar {
    width: 70px;
  }
}

@media screen and (max-width: 991px) {
  .Container {
    width: 32rem;
  }
}

@media screen and (max-width: 590px) {
  .TaskDetailsPage {
    padding: 3rem 0 0;
  }

  .Container {
    width: 26rem;
  }
}

@media screen and (max-width: 465px) {
  .Container {
    width: 22rem;
  }
}

@media screen and (max-width: 390px) {
  .Container {
    width: 18rem;
  }

  .DeleteSharedButtons {
    position: static;
    display: flex;
    justify-content: space-between;
  }
}