.ListGroup {
  max-height: 50rem;
  overflow: auto;
  border-bottom: 4px solid #405e9f;
  padding-bottom: 20px ;
  margin-bottom: 1.5rem;
}

.TaskContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
}

.ListGroupItem {
  position: relative;
  width: 28rem;
  min-height: 78px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 8px;
  margin-right: 4px;
  background-color: #93bdee52;
  border-radius: 5px;
}

.ListGroupItem:hover {
  color: #000000;
  background-color: #328aee69;
}

.IsSharedIcon {
  position: absolute;
  top: 5px;
  right: 8px;
  color: #d76a10;
}

.IsCompletedIcon {
  position: absolute;
  right: 8px;
  top: 32px;
  color: #1969ca;
}

.Completed {
  background-color: #edc6935d;
}

.VerticalEllipsis:hover {
  cursor: pointer;
}

.OverdueTask {
  border: 2px solid #e6ce44;
}

.OverdueLegend {
  background-color: #f4e174;
}

.Legend {
  border-radius: 3px;
  background-color: #f8e2d4;
  font-size: 13px;
  position: absolute;
  right: 105px;
  bottom: 0;
  display: flex;
  column-gap: 5px;
  max-width: 445px;
  padding: 0 8px 0;
}

.LegendCategory {
  max-width: 285px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.LegendProgress {
  text-align: center;
  min-width: 50px;
  max-width: 85px;
  text-transform: capitalize;
}

.LegendPriority {
  font-weight: 600;
}

.High {
  color: #c31b1b;
}

.Medium {
  color: #0b8b0b;
}

.DateTime {
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .ListGroup {
    max-height: 43rem;
  }
}

@media screen and (max-width: 650px) {
  .ListGroup {
    max-height: 40rem;
  }

  .GripIcon {
    display: none;
  }

  .ListGroupItem {
    margin-left: 0;
  }

  .Legend {
    max-width: 300px;
  }

  .LegendCategory {
    max-width: 140px;
  }

  .DateTimeContainer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 32px;
    bottom: 0;
  }

  .DateTime {
    font-size: 13px;
  }

  .LegendForTime {
    right: 74px;
    bottom: -2px;
  }
}

@media screen and (max-width: 450px) {
  .ListGroup {
    max-height: 30rem;
  }

  .ListGroupItem {
    font-size: 14px;
  }

  .Legend {
    max-width: 240px;
  }

  .LegendCategory {
    max-width: 90px;
  }
}

@media screen and (max-width: 386px) {
  .ListGroup {
    max-height: 22rem;
    margin-bottom: .8rem;
  }

  .Legend {
    max-width: 180px;
    column-gap: 4px;
  }

  .LegendCategory {
    display: none;
  }

  .FirstSeparator {
    display: none;
  }
}