.TasksByCategory {
  position: relative;
  padding: 2.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InnerContainer {
  width: 36rem;
}

.HeadingOne {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.HeadingTwo {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}

.DeleteButton {
  margin: 0 16px 0 0;
}

.CategoryNameForm {
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid #699df6;
  padding: 0 12px 0 8px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #f9f5e6;
}

.DescriptionForm {
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid #699df6;
  padding: 0 12px 0 8px;
  margin-top: 16px;
  background-color: #f9f5e6;
}

.SaveCancelButtons {
  position: absolute;
  bottom: -10px;
  right: 0;
}

@media screen and (max-width: 650px) {
  .TasksByCategory {
    padding-top: 1.5rem;
  }

  .InnerContainer {
    width: 26rem;
  }

  .HeadingTwo {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .InnerContainer {
    width: 22rem;
  }
}

@media screen and (max-width: 400px) {
  .InnerContainer {
    width: 17rem;
  }

  .HeadingOne {
    font-size: 1.2rem;
  }

  .HeadingTwo {
    font-size: 1.6rem;
    width: 200px;
  }

  .DeleteButton {
    margin: 0;
  }

  .EditDeleteButtons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}