.MyTasksToday {
  position: relative;
  padding: 2.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InnerContainer {
  width: 36rem;
}

.MyTasks {
  font-size: 2.8rem;
}

.PageTitle { 
  font-weight: 600;
}

.DateToday {
  display: block;
  font-size: 1.2rem;
}

.LineIcon {
  font-size: 2.5rem;
}

.LargeScreen {
  display: block;
}

.SmallScreen {
  display: none;
}

@media screen and (max-width: 650px) {
  .MyTasksToday {
    padding-top: 1.5rem;
  }

  .InnerContainer {
    width: 26rem;
  }

  .MyTasks {
    font-size: 2.2rem;
  }

  .LineIcon {
    font-size: 1.9rem;
  }

  .PageTitle { 
    font-size: 1.5rem;
  }

  .DateToday {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .InnerContainer {
    width: 22rem;
  }
}

@media screen and (max-width: 386px) {
  .InnerContainer {
    width: 18rem;
  }

  .MyTasks {
    font-size: 1.8rem;
  }

  .PageTitle { 
    font-size: 1.3rem;
  }

  .LargeScreen {
    display: none;
  }

  .SmallScreen {
    display: block;
  }
}