.MyTasksToday {
  position: relative;
  padding: 2.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InnerContainer {
  width: 36rem;
}

.MyTasks {
  font-size: 2.8rem;
}

.DateToday {
  font-size: 1.2rem;
}

.LineIcon {
  font-size: 2.5rem;
}

.ListGroup {
  margin-top: 2rem;
  width: 32rem;
  align-self: flex-start;
}

.ListIcon {
  font: 2.5rem;
}
