.ListGroupItem {
  width: 28rem;
  padding-top: 5px;
  padding-bottom: 14px;
  margin-left: 8px;
  margin-right: 4px;
}

.Completed {
  background-color: #edc6935d;
}

.VerticalEllipsis:hover {
  cursor: pointer;
}

.Legend {
  border-radius: 3px;
  background-color: #e8bdaa;
  font-size: 13px;
  right: 105px;
  bottom: -2px;
}

.DateTime {
  font-size: 15px;
}

@media screen and (max-width: 650px) {
  .GripIcon {
    display: none;
  }

  .ListGroupItem {
    margin-left: 0;
  }
}