.TaskDetailsPage {
  padding: 4rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container {
  position: relative;
  width: 34rem;
}

.HeadingTaskName {
  font-size: 1.1rem;
  font-weight: 600;
  margin: .4rem 0 0;
}

.TaskName {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
  border-bottom: 2px solid rgb(10, 131, 237);
}

.EditTaskNameButton {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 0;
}

.EditTaskNameButtonsGroup {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  bottom: -5px;
  right: 0;
  padding-right: 0;
}

.TaskDetailsContainer {
  position: relative;
  margin-top: 25px;
}

.HeadingDetails {
  font-size: 1.1rem;
  font-weight: 600;
  margin: .4rem 0 0;
}

.TaskDetails {
  font-size: 1.1rem;
  padding-top: 0;
  margin: 0;
  border-bottom: 2px solid rgb(10, 131, 237);
}

.EditDetailsButton {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 0;
}

.EditTaskDetailsButtonsGroup {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  bottom: -6px;
  right: 0;
  padding-right: 0;
}

.bold {
  font-weight: 600;
}

.DateTimePicker {
  width: 14rem;
}

.OwnerAvatar {
  position: absolute;
  top: 1rem;
  right: -170px;
  font-size: 14px;
  width: 125px;
}

.Avatars {
  position: absolute;
  top: 8rem;
  right: -170px;
  gap: 1rem;
  width: 125px;
  height: 18rem;
  font-size: .95rem;
}

.SharedToAvatar {
  font-size: 14px;
  border: 1px solid transparent;
  position: relative;
}

.SharedToAvatar:hover {
  box-shadow: 0 0 2px rgb(41, 118, 211);
}